@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-bg: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  color: hsl(var(--black));
  background: hsl(var(--yellow-bg));
  font-weight: 500;
}
ul,
p,
h1,
h2 {
  padding: 0;
  margin: 0;
}

.blog-card {
  transition: all 0.4s ease;
}
.blog-card:hover h2,
.blog-card:focus h2 {
  color: #f4d04e;
  box-shadow: 16px 16px ##000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
